<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neil deGrasse Tyson</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <h1>Welcome to a world of science !</h1>
   
    <img src="/images/neil-home.gif" alt="Wonderful Neil" />
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">My work</a>
        <a href="/gallery">Gallery</a>
            </nav>
        
</body>
</html>