<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Neil deGrasse Tyson</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav>
			<a href="/home">Home</a>
			<a href="/about">About</a>
			<a href="/podcasts">Podcasts</a>
			<a href="/gallery">Meme Gallery</a>
		</nav>

		<div class="podcast-page">
			<div class="video-navigator">
				<h2>Podcast list</h2>
				<div class="video-nav-list">
					<a href="#1">Joe Rogan Experience 1159</a>
					<a href="#2">Joe Rogan Experience 1347</a>
					<a href="#3">Theo Von podcast</a>
					<a href="#4">Patrick Bet-David podcast</a>
				</div>
			</div>

			<div class="videos-container">
				<iframe
					id="1"
					class="video"
					width="560"
					height="315"
					src="https://www.youtube.com/embed/vGc4mg5pul4"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
				<p>Joe Rogan Experience #1159 - Neil deGrasse Tyson</p>
				<hr />

				<iframe
					id="2"
					class="video"
					width="560"
					height="315"
					src="https://www.youtube.com/embed/0pmviUS1Zac"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
				<p>Joe Rogan Experience #1347 - Neil deGrasse Tyson</p>

				<iframe
					id="3"
					class="video"
					width="560"
					height="315"
					src="https://www.youtube.com/embed/MtQ0qxyf-Ds"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
				<p>
					Neil deGrasse Tyson joins the show to chat with Theo about cosmic
					musings, the new space race, facts vs. feelings, flat-earthers,
					climate change and much more.
				</p>
				<hr />

				<iframe
					id="4"
					class="video"
					width="560"
					height="315"
					src="https://www.youtube.com/embed/8hWbO9NdXbs"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
				<p>
					PBD Podcast Episode 223. In this episode, Patrick Bet-David is joined
					by Neil deGrasse Tyson and Adam Sosnick.
				</p>
				<hr />
			</div>
		</div>
	</body>
</html>
